Source: chimbalix-installer-data
Section: admin
Priority: optional
Maintainer: Chimbal <chimbalix@gmail.com>
Build-Depends: debhelper (>=7.0.50~),
Standards-Version: 3.9.5
Homepage: https://github.com/Shedou/chimbalix-installer

Package: chimbalix-installer-data
Depends: 
Provides: chimbalix-installer-data
Architecture: all
Description: Data for chimbalix-installer
 Based on gazelle-installer-data.
 https://github.com/gazelle-installer/gazelle-installer-data

